@import "tailwindcss";

@theme {
  /* ألوان النظام الأساسية */
  --color-navy-500: #1e3a8a;
  --color-navy-800: #1e293b;
  --color-navy-900: #0f172a;
  
  /* ألوان الخلفيات */
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  
  /* ألوان حالات الاستثناء (Status Colors) */
  --color-status-matched: #10b981;
  --color-status-review: #f59e0b;
  --color-status-highrisk: #ea580c;
  --color-status-critical: #ef4444;
}

body {
  background-color: var(--color-neutral-100);
  color: #1f2937;
}
/* Custom Scrollbar for all tables and divs */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}